.top-bar {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 4px;
  background: #ffffff33;
  z-index: 999;
}
.tabs {
  display: flex;
  justify-content: flex-start;
  gap: 8px;
  align-items: center;
  flex-wrap: wrap;
}
.tab {
  border: 2px solid #cecece;
  border-radius: 4px;
  padding: 8px;
}

.tab:hover {
  cursor: pointer;
  background: #ffffff;
}

.tab.active {
  background: #cecece;
}
